
@{
    ViewBag.Title = "Update_profile";
    Layout = "~/Views/Shared/Expertlayout.cshtml";
}


<div class="row">

    <div class="col-lg-7">

        <div class="p-5">


            <form class="user" action="/Expert/Update_profile" method="post" >
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                               placeholder="First Name" name="First_name" required="" pattern="[a-zA-Z\s]+">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                               placeholder="Last Name" name="Last_name" required="" pattern="[a-zA-Z\s]+">
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                           placeholder="Email Address" name="Email_ID" required="">
                </div>




                




                <button type="submit" class="btn btn-primary btn-user btn-block"> Save </button>
                </form>
        </div>
    </div>
</div>