
@{
    ViewBag.Title = "Update_Password";
    Layout = "~/Views/Shared/Expertlayout.cshtml";
}

<!-- Nested Row within Card Body -->
<div class="row">

    <div class="col-lg-7">

        <div class="p-5">

            <form class="user" action="/Expert/Update_Password" method="post">

                <div class="form-group">
                    Old Password <input type="text" class="form-control "
                                                   placeholder=" Enter old Password" name="O_pass" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">


                </div>
                <br />
                <br />
                <div class="form-group">
                    New Password <input type="text" class="form-control "
                                  placeholder="Enter New Password " name="N_pass" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>
                <br />
                <br />

                @*<div class="form-group">
                    Duration <input type="text" class="form-control "
                                    placeholder=" " name="Duration" required>
                </div>
                <br />
                <br />*@










                <button type="submit" class="btn btn-primary btn-user btn-block"> Submit</button>
                <button type="reset" class="btn btn-primary btn-user btn-block"> Reset</button>


               @if (ViewData["msg"]!=null)
                {
                    <script language="javascript">

                                    alert('@ViewData["msg"]');
                                        window.location.href = "@Url.Action("Update_Password", "Expert")";

                    </script>
                }

            </form>


        </div>
    </div>


